.text{ 
    color: #FFFFCC;
    font-size: 30px; 
    margin-left: 100px;
    text-align: center;
} 
.text1{ 
    color: #FFFFCC; 
    font-size: 30px; 
    margin-left: 100px;
} 
.text123{ 
    color: #FFFFCC; 
    font-size: 40px; 
    text-align: center;
} 
.money{ 
    color: #FFFF99; 
    font-size: 100px; 
    text-align: center;
    margin-top: 300px;
} 
.kaspi{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 500px;
    color: white;
    border-radius: 100px;
    padding: 10px;
}
.aboutme{ 
    color: #FFFF99; 
    font-size: 100px; 
    text-align: center;
    margin-top: 300px;
} 
.medium1{
    font-size: 50px;
    color: black;
}
.mediumphoto{ 
    color: white; 
    font-size: 100px; 
    text-align: center;
} 
.button{
    background-color: white;
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 30px;
    border: 0;
}
.informationaboutme{
    color: #FFFFCC; 
    font-size: 40px; 
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
}
.skills1{ 
    color: #FFFFCC;
    font-size: 30px;
    margin-right: 110px;
    text-align: center;
} 
.skills2{ 
    color: #FFFFCC;
    font-size: 30px; 
    margin-left: 30px;
    text-align: center;
    margin-top: 30px;
} 
.skills3{ 
    color: #FFFFCC;
    font-size: 30px; 
    margin-right: 30px;
    text-align: center;
    margin-top: 30px;
} 
.skills4{ 
    color: #FFFFCC;
    font-size: 30px; 
    text-align: center;
    margin-right: 65px;
    margin-top: 30px;
} 
.skills5{ 
    color: #FFFFCC;
    font-size: 30px; 
    margin-right: 30px;
    text-align: center;
    margin-top: 30px;
} 
body{ 
    background-color: black;
    font-family: Arial, sans-serif;
}
